
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static "login.css" %}">
        
    </head>
    <body>
        
        <div style="margin: 25px; padding-right: 80px;">
            <h1>Libreria Aprendamos</h1>
            
        </div>
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup"><span>o</span>Registrate</h2>
                <form class="form-holder" method="post" action="{% url 'sign_up_view' %}">
                    {% csrf_token %}
                    
                    <input type="email" class="custom-fields" name="email1" placeholder="Correo" required/>
                    <input type="text" class="custom-fields" name="nombre1" placeholder="Nombre" required/>
                    <input type="password" class="input" name="password1" placeholder="Contraseña" required/>
                    <input type="password" class="input" name="password_confirm" placeholder="Confirmar Contraseña" required/>
                    <button class="submit-btn" >Registrate</button>
                </form>
                
            </div>
            <div class="login slide-up">
                <div class="center">
                    <h2 class="form-title" id="login"><span>o</span>Inicia Sesion</h2>
                    <form class="form-holder" method="post" action="{% url 'login_view' %}">
                        {% csrf_token %}
                        <input type="email" class="input" placeholder="Correo" name="email" required/>
                        <input type="password" class="input" placeholder="Contraseña" name="password" required/>
                        <button type="submit" class="submit-btn">Iniciar Sesion</button>
                    </form>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% load static %}
        <script src="{% static "login.js" %}" async defer></script>
    </body>
</html>
